.vs/
App_Plugins/
Program.cs
Properties/
Startup.cs
appsettings-schema.Umbraco.Cms.json
appsettings-schema.Umbraco.Forms.json
appsettings-schema.json
appsettings-schema.usync.json
appsettings.Development.json
appsettings.json
bin/
obj/
uSync/
umbraco-sync.csproj
umbraco/
usn/